<!-- This is a basic html program which explains all html tags -->
<!doctype html>
<html>
	<head>
		<title>Html tags</title>
	</head>
	<body>
		<!-- These are the comment lines,
		 which browser cannot display -->
		<h1><b>This is Heading1 with bold letters</b></h1>
		<h2><i>This is Heading2 in italic font</i></h2>
		<h3><u>This is Heading3 underlined</u></h3>
		<h4><q>This is Heading4 in quotations</q></h4>
		<h5><marquee>This is Heading5 scrolling</marquee></h5>
		<h6><font color="red">This is Heading6 in red color font</font></h6>

		<p><center>This is a paragraph at center</center></p>
		
		<div>This is a div followed by horizontal line</div>
		<hr/>

		<span><del>This is a span1 deleted</del></span>
		<span>This is span2 followed by a break tab</span>
		<br/>

		<a href="http://www.google.com" target="_blank">
		<img src="google-logo.png" height="120" width="120">
		</a>

		<div>This is Bharath Reddy<sub>MS</sub></div>
		<div>This is my 1<sup>st</sup> program</div>


	</body>
</html>