<!doctype html>
<html>
	<head>
		<title>Html Form Components</title>
	</head>
	<body>
		<font color="red" size="5"><center><h2>Form Components</h2></center></font>
		<form>
			<div>
				Username : <input type="text" placeholder="enter value">
			</div>
			<br/>
			<div>
				Password : <input type="password" placeholder="enter password">
			</div>
			<br/>
			<div>
				<input type="button" value="Sign in">
			</div>
			<br/>
			<div>
				Dropdown &nbsp;
				<select>
					<option>Select any day</option>
					<option>Mon</option>
					<option>Tue</option>
					<option>Wed</option>
					<option>Thu</option>
					<option>Fri</option>
					<option>Sat</option>
					<option>Sun</option>
				</select>
			</div>
			<br/>
			<div>
				<input type="checkbox"> Terms
			</div>
			<br/>
			<span>
				<input type="radio" name="gender"> Male
			</span>
			<span>
				<input type="radio" name="gender"> Female
			</span>
		</form>
	</body>
</html>